@page "/searchcosmos"
@using AzureCosmosCognitiveSearchApp.CosmosAPI;
@using AzureCosmosCognitiveSearchApp.Models;

@inject ICosmosDBService CosmosDBService

<PageTitle>Search Cosmos (classic)</PageTitle>

<h1>Find a user by filtering and searching the Azure Cosmos DB</h1>

<p>
    <label>
        <input @bind-value="@SearchInput.name">Search user by Name</input>
    </label>
    <label>
        <button @onclick="NameSearch">Search user by ID</button>
    </label>
</p>

@if(!HasSearched){
    <p>Click the search button to search the Cosmos DB</p>
}else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Region</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
}